<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLogin(java.lang.String,java.lang.String)[pri:1, instance:com.rediff.testing.login.LoginTest@29d89d5d]">invalidLogin</td> 
  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:16</td>   <td>9520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPageTitle()[pri:2, instance:com.rediff.testing.login.LoginTest@29d89d5d]">verifyPageTitle</td> 
  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:13</td>   <td>6353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:17</td>   <td>9531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLogin(java.lang.String,java.lang.String)[pri:1, instance:com.rediff.testing.login.LoginTest@29d89d5d]">invalidLogin</td> 
  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:17</td>   <td>9531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:13</td>   <td>6353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLogin(java.lang.String,java.lang.String)[pri:1, instance:com.rediff.testing.login.LoginTest@29d89d5d]">invalidLogin</td> 
  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:13</td>   <td>6353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLogin(java.lang.String,java.lang.String)[pri:1, instance:com.rediff.testing.login.LoginTest@29d89d5d]">invalidLogin</td> 
  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:13</td>   <td>6353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:17</td>   <td>9531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:13</td>   <td>6353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:17</td>   <td>9531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidLogin(java.lang.String,java.lang.String)[pri:1, instance:com.rediff.testing.login.LoginTest@29d89d5d]">invalidLogin</td> 
  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:17</td>   <td>9531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:17</td>   <td>9531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="d88cf5">  <td>22/02/24 07:51:13</td>   <td>6353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.openBrowser()[pri:0, instance:com.rediff.testing.login.LoginTest@29d89d5d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="7f66c4">  <td>22/02/24 07:51:17</td>   <td>9634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccount.openBrowser()[pri:0, instance:com.rediff.tesitng.createaccount.CreateAccount@17497425]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="7f66c4">  <td>22/02/24 07:51:19</td>   <td>12384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccount.createAcountTest()[pri:0, instance:com.rediff.tesitng.createaccount.CreateAccount@17497425]">createAcountTest</td> 
  <td>main@651802632</td>   <td></td> </tr>
<tr bgcolor="7f66c4">  <td>22/02/24 07:51:22</td>   <td>14722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccount.closeBrowser()[pri:0, instance:com.rediff.tesitng.createaccount.CreateAccount@17497425]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@651802632</td>   <td></td> </tr>
</table>
