<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c8dcf">  <td>22/02/23 07:16:39</td>   <td>0</td> <td title="&lt;&lt;Common.closeFiles()[pri:0, instance:com.rediff.testing.login.LoginTest@bd4dc25]">&lt;&lt;closeFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1432569632</td>   <td></td> </tr>
<tr bgcolor="8c8dcf">  <td>22/02/23 07:16:39</td>   <td>-105</td> <td title="&gt;&gt;Common.loadFiles()[pri:0, instance:com.rediff.testing.login.LoginTest@bd4dc25]">&gt;&gt;loadFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1432569632</td>   <td></td> </tr>
</table>
